doctype html 
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Permanent+Marker|Open+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #menu
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/products') Products
          li
            a(href='/services') Services
          li
            a(href='/contact') Contact    
      #content
        block content
      #right_side content
      #footer some footer content
        
        

    
