body
  font: 14px "Open Sans", Helvetica, Arial, sans-serif
a
  color: #00B7FF
#container
  margin-left: auto;
  margin-right: auto;
  width: 90%;
#content
  width: 62%
  float: left
  background-color: blue
#right_side
  width: 38%
  float: left
  background-color: red
#menu ul
  margin: 0px
#menu
  background-color: green
#menu li
  display: inline
  margin-left: 20px
#footer
  background-color: yellow
  clear: both